<h1><%= @task.title %></h1> 
<i class="<%= @task.completed ? 'far fa-check-square' : 'far fa-square' %>"></i>
<p><%= @task.details %></p>
<%= link_to 'Go back', tasks_path %>
<%= link_to 'Edit task', edit_task_path %>